@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Montserrat, system-ui, sans-serif;
  }
}

#root {
  margin: 0 auto;
  text-align: center;
}

.side-bar {
  background-color:rgb(70, 84, 103);
background-image:
radial-gradient(at 100% 100%, rgb(12, 39, 75) 0px, transparent 50%),
radial-gradient(at 12% 0%, rgb(103, 115, 126) 0px, transparent 50%);
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #A6ADBA1A transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #A6ADBA1A;
  border-radius: 20px;
}
